/*montesrrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: rgb(51, 51, 51);
  --main-color: #F75958;
}
a{
  text-decoration: none;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
 /* background-color: #282c34;*/
  min-height: 100vh;
  color: white;
}

.App-link {
  color: #61dafb;
}

.flex-box{
  display: flex;
  align-items: center;
  justify-content: center;
}

/*  NAV  */

.nav-bar-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 200px;
  padding-right: 200px;
  background-color: white;
  color: black;
  height: 55px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  z-index: 999;
}

.make-sticky{
  position: sticky;
  top: 0;
  overflow: hidden;
}

.logo-head{
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.logo-head span{
  color: var(--main-color);
}

.nav-items{
  display: flex;
  align-items: center;
}
.item{
  font-weight: 400;
  font-size: 16px;
  margin-right: 30px;
  letter-spacing: .5px;
}

.item a:hover{
  color: var(--main-color);
  cursor: pointer;
  text-decoration: none;
}







/*  HERO  */

.l-item{
  text-align: left;
  padding-left: 80px;
  padding-right: 100px;
}

.l-item h1{
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 30px;
  overflow: hidden;
  white-space: nowrap;
}


.l-item h2{
  font-weight: 600;
  font-size: 20px;
}

.l-item p{
  margin-top: 30px;
  margin-bottom: 50px;
  max-width: 600px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: .5px;
}
.l-item span{
  color: var(--main-color);
}

.hero{
    height: 100vh;
    display: grid;
    place-items: center;
    background-repeat: no-repeat;
    background-size: 100 vh;
    overflow: hidden;
}

.hero-container{
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero img{
  width: 400px;
  border-radius: 25px;
  margin-left: 150px;
}


.l-item a{
  background-color: var(--main-color);
  text-decoration: none;
  padding: 15px;
  font-weight: 400;
  font-size: 16px;
  color: white;
  border-radius: 35px;
}

.hero .scroll-down{
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.hero .scroll-down h2{
  font-size: 16px;
  margin-right: 10px;
}


/*  ABOUT  */

.about{
  height: 80vh;
  background-color: #F7F7F7;
}

.hi-head{
  background-color: var(--main-color);
  width: 50px;
  height: 8px;
  margin-left: 10px;
}

.hi-head-cont{
  display: flex;
  align-items: center;
}

.about-right{
  display: block;
  justify-content: left;
  text-align: left;
  margin-left: 150px;
  margin-right: 150px;
}

.about-right span{
  color: var(--main-color);
}
.about-dash{
  background-color:var(--main-color);
  width: 30px;
  height: 5px;
  margin-left: 10px;
  animation-name: anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  z-index: 4;
  position: absolute;
}

.about img{
  width: 400px;
  border-radius: 25px;
  margin-left: 150px;
}

.about-item-container{
  display: flex;
  margin-bottom: 50px;
}
.about-item-row{
  margin-right: 100px;
}

.about a{
  margin-right: 20px;
  background-color: var(--main-color);
  text-decoration: none;
  padding: 15px;
  font-weight: 400;
  font-size: 16px;
  color: white;
  border-radius: 35px;
}

.about a:nth-child(2){
  background-color: #ffffff;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  font-weight: 500;
}

.skill{

}

.skill h1{
  margin-top: 100px;
}

.skill h2{
  font-size: 40px;
  color: var(--main-color);
}

.skill-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
}

.skill-item-row{

}

.skill-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.progress-bar-border{
  height: 10px;
  width: 80vh;
  border: 1px solid var(--main-color);
}
.progress-bar{
  height: 10px;
  width: 90%;
  background-color: var(--main-color);
}



.footer {
  width: 100%;
  background: #10182F;
}

.footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-between;
  gap: 3.5rem;
  padding: 60px;
}
.footer-row .footer-col h4 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
}
.footer-col .links {
  margin-top: 20px;
  text-align: start;
}
.footer-col .links li {
  list-style: none;
  margin-bottom: 10px;
}
.footer-col .links li a {
  text-decoration: none;
  color: #bfbfbf;
}
.footer-col .links li a:hover {
  color: #fff;
}
.footer-col p {
  margin: 20px 0;
  color: #bfbfbf;
  max-width: 300px;
}
.footer-col form {
  display: flex;
  gap: 5px;
}
.footer-col input {
  height: 40px;
  border-radius: 6px;
  background: none;
  width: 100%;
  outline: none;
  border: 1px solid #7489C6 ;
  caret-color: #fff;
  color: #fff;
  padding-left: 10px;
}
.footer-col input::placeholder {
  color: #ccc;
}
 .footer-col form button {
  background: #fff;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
  
}
.footer-col form button:hover {
  background: #cecccc;
}
.footer-col .icons {
  display: flex;
  align-self: center;
  justify-content: center;
  margin-top: 30px;
  gap: 30px;
  cursor: pointer;
}
.footer-col .icons i {
  color: #afb6c7;
}
.footer-col .icons i:hover  {
  color: #fff;
}
@media (max-width: 768px) {
  .footer {
    position: relative;
    bottom: 0;
    left: 0;
    transform: none;
    width: 100%;
    border-radius: 0;
  }
  .footer .footer-row {
    padding: 20px;
    gap: 1rem;
  }
  .footer-col form {
    display: block;
  }
  .footer-col form :where(input, button) {
    width: 100%;
  }
  .footer-col form button {
    margin: 10px 0 0 0;
  }
}



/* about us */

.AboutMeHero{
  height: 300px;
  margin-top: -20px;
  background-color:  #fa6969;
  display: flex;
  align-items: center;
  justify-content: center;
}

.AboutMeHero h1{
  font-size: 30px;
  color: white;
}

.space-between{
  justify-content: space-between;
}

.education{
  margin-top: 50px;
}

.edu-item{
  margin: 50px;
}

.edu-item img{
  height: 200px;
  width: 200px;
}

.edu-item:nth-child(2){
  margin-left: 100px;
}

.edu-item:nth-child(3){
  margin-left: 180px;
}

.certificate-container{
  justify-content: space-evenly;
  margin-top: 100px;
  margin-bottom: 100px;
}

.cert-holder{
  display: block;
  width: 250px;
  border-radius: 20px;
  border: #10182F 1px solid;
  padding: 10px;
}
.cert-holder img{
  height: 200px;
  width: 200px;
}



/* Contact Us */

.TopHero{
  height: 300px;
  margin-top: -20px;
  background-color:  #fa6969;
  display: flex;
  align-items: center;
  justify-content: center;
}

.TopHero h1{
  font-size: 30px;
  color: white;
}

.top-holder{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: start;
  margin-top: 50px;
  margin-bottom:  50px;
}

.touch{
  max-width: 30%;
}

.touch h1{
  font-size: 50px;
}

.element-pin{
  background-color: var(--main-color);
  border-radius: 30%;
  width: 50px;
  height: 50px;
}

.element-pin i{
  color: white;
}

.map-emb iframe{
  border: none;
}

.map-emb{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  padding: 50px;
}

.map-emb form{
  width: 100%;
  padding: 50px;
}

#contactForm h1{
  text-align: center;
}

.divider{
  width: 95%;
  height: 1px;
  background-color: #aeb4c7;
}

.map-emb h2 {
  margin-top: 0;
  color: #333;
  text-align: center;
}

.form-group {
  margin-bottom: 1rem;
}

.map-emb label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #333;
}

.map-emb input, textarea {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
}

.map-emb textarea {
  resize: vertical;
}

.submit-button {
  background-color: var(--main-color);
  color: white;
  border: none;
  padding: 0.75rem;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #218838;
}

.social-contact i{
  margin-top: 40px;
  width: 50px;
  height: 50px;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.social-contact i:hover{
  color: var(--main-color);
}




@keyframes anim{
  0% {margin-top:0px;}
  25% {margin-left: 200px; width: 2000px;rotate: 100deg;}
  50% {margin-left: 200px; margin-top: 500px; width: 1000px; height: 500px;rotate: 200deg; }
  75% {margin-top: 500px;height: 200px;rotate: 300deg;}
  100%{margin-top:0px;}
}
